%grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));

  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

.display-file {
  .pages {
    @extend %grid;
    gap: 10px;
    justify-content: center;
    // min-height: 300px;
    padding: 10px;
    align-items: stretch;
    @include extend("position-relative");

    &.single-1x1 {
      grid-template-columns: 1fr;
    }

    &.horizontal-2x1 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.horizontal-3x1 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.horizontal-4x1 {
      grid-template-columns: repeat(4, 1fr);
    }

    &.vertical-1x2 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }

    &.vertical-1x3 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    &.vertical-1x4 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }

    &.grid-2x2 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &.grid-3x2 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &.grid-4x2 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &.grid-3x3 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    &.grid-4x4 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }

  .initial-loader {
    height: 100vh;
    width: 100%;
    @include extend("d-flex justify-content-center align-items-center");
  }

  .drag-element {

    .image-tooltip,
    .item-tooltip {
      height: 100%;
    }

    .drag-element-img {
      cursor: all-scroll !important;
      height: 100%;
    }


    display: flex;
    flex-direction: column;

    &.dragging {
      scale: 1.05 !important;
    }

    p {
      margin: 0;
    }

    @extend %show-action;
  }

  .tooltip-container {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }

  %show-action {
    position: relative;

    .action-div {
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;

      button {
        color: var(--gray-dark);
      }
    }

    &:hover .action-div {
      opacity: 1;
    }

    &:not(:hover) .action-div {
      opacity: 0;
    }
  }

  .card.item {
    height: 100%;
    @extend %show-action;
  }

  .hero-icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
  }

  .range-file-card {
    &:not(.one-item-grid) {
      display: grid;
      grid-template-columns: 2fr 0.5fr 2fr;
    }

    &.one-item-grid {
      display: flex;
      align-items: center;
      justify-content: center;

      .only-child {
        flex: 0 1 78%;
      }
    }

    .icon {
      align-self: center;
      justify-self: center;
      fill: map-get($color-map, split-pdf);
      width: 2em;
      height: 2em;
    }

    .only-child {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }

  .extract-file-card {
    @include extend("position-absolute w-100 h-100");

    .icon {
      @include extend("check-icon");
    }
  }

  // display layouts:
  .range-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 2%;

    .range {
      border: 2px dashed var(--gray);
      @include extend("p-2");

      // &:nth-child(odd):not(:first-child) {
      //   grid-column: 1 / -1;
      // }
      &:last-child:not(:nth-of-type(even)) {
        grid-column: 1 / -1;
      }

      h6 {
        @include extend("range-title mb-0");
        // margin: 0 !important;
      }
    }
  }
}