.display-file {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27%, 1fr));

  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  gap: 10px;
  justify-content: center;
  min-height: 300px;
  padding: 10px;
  align-items: stretch;

  .drag-element {
    .image-tooltip,
    .item-tooltip {
      height: 100%;
    }

    .drag-element-img {
      cursor: all-scroll !important;
      height: 100%;
    }

    .item-img {
      cursor: pointer;
    }

    display: flex;
    flex-direction: column;

    &.dragging {
      scale: 1.05 !important;
    }

    p {
      margin: 0;
    }

    @extend %show-action;
  }

  .tooltip-container {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }

  %show-action {
    position: relative;

    .action-div {
      position: absolute;
      z-index: 1;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;

      button {
        color: var(--gray-dark);
      }
    }

    &:hover .action-div {
      opacity: 1;
    }

    &:not(:hover) .action-div {
      opacity: 0;
    }
  }

  .card.item {
    height: 100%;
    @extend %show-action;
    @include extend("card");
    .card-body {
      @include extend("card-body d-flex flex-column");
      .img-fluid-custom {
        @include extend("object-fit-contain rounded item-img");
      }
    }
  }

  .action-div {
    &.justify-content-end {
      @include extend("justify-content-end");
    }
    &.justify-content-between {
      @include extend("justify-content-between");
    }
  }
  .password-input-row {
    @include extend("mt-5");
    .input-group {
      @include extend("input-group px-1");
      .form-control {
        @include extend("form-control");
      }
      .show-password {
        @include extend("btn btn-outline-secondary btn-sm");
      }
      .submit-btn {
        @include extend("btn btn-primary");
      }
    }
  }

  // .action-div {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     z-index: 1;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //     height: 100%;
  //     width: 100%;
  //     opacity: 0;
  //     transition: opacity 0.2s ease-in-out;
  // }

  .hero-icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
  }
}
