.app-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.37);
  transition: 3ms linear;
  opacity: 0;
  .loading-icon {
    animation: none;
  }
  &.show {
    z-index: 1000;
    opacity: 1;
    .loading-icon {
      animation: spin 1s linear infinite;
      font-size: 1.5rem;
      @each $key, $color in $color-map {
        &.#{$key} {
          color: $color;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
