@import "/node_modules/pdfequips-navbar/scss/navbar";

%debug {
  outline: 1px solid;
}

@import "./scss/minxins";
@import "./scss/placeholders";

svg {
  display: initial !important;
}

$pdf-color: #fc271c;
$color-map: (
  "pdf-to-powerpoint": #c13b1b,
  "word-to-pdf": #1b5ebe,
  "powerpoint-to-pdf": #c13b1b,
  "excel-to-pdf": #10793f,
  "web-to-pdf": #0984e3,
  "pdf-to-text": #4493e1,
  "html-to-pdf": rgb(228, 77, 38),
  "pdf-to-word": #1b5ebe,
  "pdf-to-excel": #10793f,
  "pdf-to-pdf-a": #000000,
  "pdf-to-html": rgb(228, 77, 38),
  "pdf-to-markdown": #000000,
);

:root {
  @each $key, $value in $color-map {
    --#{$key}: #{$value};
  }
}

body {
  @include ar-wrapper {
    text-align: right !important;
  }

  font-family: "Raleway", sans-serif;
  color: #2c3e50;
}

.tools-page {
  min-height: fit-content;
  @include extend("container-fluid position-relative");
}

.h-5,
.icon {
  height: 1em;
}

.w-5,
.icon {
  width: 1em;
}

.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.object-fit-contain {
  object-fit: contain;
  object-position: center;
}

.img-fluid-custom {
  max-width: 100%;
  height: 100%;
  z-index: 0;
}

.bdi,
a.dropdown-item {
  unicode-bidi: isolate;
}

@media (min-width: 992px) {
  .drop-down-container {
    flex-wrap: nowrap !important;
  }
}

/* tools page */

.tools {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 69vh;
}

.dropdown-item {
  &.active,
  &:active {
    background-color: initial !important;
    color: #212529 !important;
  }
}

.react-tooltip {
  z-index: 100;
}

// error element styles
.error-element {
  @include extend("alert alert-danger text-center mt-3");
  .hide-on-rtl {
    [dir="rtl"] &,
    [lang="ar"] & {
      display: none;
    }
  }

  .hide-on-ltr {
    [dir="ltr"] &,
    :not([lang="ar"]) & {
      display: none;
    }
  }
}

@import "./scss/toolspage";
@import "./scss/editpage";
@import "./scss/display-file";

@import "./scss/features";

.how-to {
  @include extend("row align-items-center py-3");
  .image {
    @include extend("col-12 col-md-6 text-center");
    img {
      user-select: none;
      -webkit-user-drag: none;
      height: auto;
      max-width: 100%;
    }
  }

  .how-to-steps {
    @include extend("col");
    @include xs {
      text-align: center;
    }

    ol {
      list-style: none;
    }
  }
}

@import "./scss/loading";
@import "./scss/misk";

@import "pdfequips-footer/scss/footer";
.green-slider .range-slider__thumb {
  background: #28a745 !important;
}
.green-slider .range-slider__range {
  background: #28a745 !important;
}
.nav-tabs .nav-link.active {
  color: #28a745;
  border-color: #dee2e6 #dee2e6 #fff;
  border-bottom-color: #fff;
}
.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}
.nav-tabs .nav-link.active:hover {
  border-color: #dee2e6 #dee2e6 #fff;
}

.green-slider .range-slider__thumb[data-lower][data-disabled] {
  display: none;
}
.green-slider .range-slider__thumb[data-lower] {
  pointer-events: none;
  opacity: 1;
}

.limitation-alert {
  @include extend("mt-3 alert alert-info mb-3");
}
.cta-btn {
  width: auto !important;
  @include extend("mt-2 btn btn-primary btn-sm");
  font-weight: 500;
}
.center-item {
  @include extend("row justify-content-center");
}
a.no-underline {
  @include extend("text-decoration-none");
}

.spinner-grow {
  @include extend("spinner-grow");
}
